 * {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

main{
    margin-bottom: 50px;
}

.page {
    position: relative;
    overflow: auto;
    margin-top: 60px;
}

.page-content {
    flex-grow: 1;
}

ul {
    list-style: none;
    padding-left: 0;
}

.page:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.07;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.page-content {
    position: relative;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    padding: 10px;
}



.input-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.input-area label{
    /* background-color: red; */
    width: 130px;
    font-size: 1.1em;
    font-weight: bold;
}


.input-area .form-select{
    width: 200px;
}

.input-area .form-control{
    width: 70px;
    margin-right: 5px;
}

.input-area > input, .input-area .form-select, .input-area .form-control{
    display: inline;
}

.demo-area{
    display: flex;
    overflow: auto;
}

.my-flex-item{
    width: 100px;
    height: 100px;
    background-color: #3B3561;
    color: #FFF;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    position: relative;  
}

.flexItemText{
    background-color: transparent;
    color: white;
}

button.mv-add-flexItem{
    display: block;
    background-color:#DD7373;
    color: #fff;
    border: 0px;
    padding: 5px 10px 5px 10px;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
}

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: rgba(182, 182, 182, 0.808);
    z-index: 500;
}

/* Reduce the size of scroll bars */
::-webkit-scrollbar {
    padding: 10px;
    width: 1px;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 40px;
    z-index: 999999;
}

.copyCSS{
    background-color: #EAB464;
    color: #fff;
    border: 1px #fff;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 8px 20px 8px 20px;
}
